body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 8px 0;
  max-width: 70%;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.sent {
  background: #04315b;
  color: white;
  margin-left: auto;
}

.received {
  background: #e4e6eb;
  color: black;
  margin-right: auto;
}

.timestamp {
  font-size: 10px;
  opacity: 0.6;
  margin-top: 2px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  background: #033767;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #03203c;
}
